<!doctype html>
<html>
  <head>
    <title>Angular Whisper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/production/production.css">
  </head>
  <body ng-app="whisper">
    <div ng-controller="index" class="container" ng-init="getConfessions()">
      <div id="particles-js"></div>
      <div class="error-handling"></div>
      <section class="textarea">
        <div name="confession" ng-model="confession"  contenteditable/></div>
        <button ng-click="addConfession()" class="btn btn-primary">Send</button>
      </section>
      <section>
        <div class="row">
           <ul class="col-8">
            <li ng-repeat="x in confessions" class="message">
              <h1>I confess that!...</h1>
              <p>{{x.message}}</p>
            </li>
          </ul>
          <ul class="col-4">
            
          </ul>
        </div>
      </section>
    </div>
    <script src="js/production/production.min.js"></script>
  </body>
</html>
